{% extends 'base.html' %}

{% block content %}
<div class="m-3 table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Гарчиг</th>
                <th scope="col">Агуулга</th>
                <th scope="col">Огноо</th>
                <th scope="col">Үйлдэл</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ todo.title }}</td>
                <td>{{ todo.task_content }}</td>
                <td>{{ todo.created_date|date:"d-m-y" }}</td>
                <td>
                    <a class="btn btn-danger btn-sm" href="{% url 'delete' todo.id %}">Устгах</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}