<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">To-do</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create' %}">To-do үүсгэх</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'completed' %}">Дуусгасан To-do</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'notes' %}">Notes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert-{{ message.tags }} alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-lg-4">
                <div class="col-md-4 float-right ">
                    <div class="card my-4">
                        <h5 class="card-header">About ToDo App</h5>
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ipsum perferendis nostrum aut maxime cum ipsam dolorum, quidem quis! Impedit, hic explicabo. Consectetur provident illo dolore tempora consequuntur deserunt qui.</p>
                            <a href="https://Aziyan99.github.io"
                               class="btn btn-danger">Дэлгэрэнгүй!</a>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
            width: 300px;
        }
    </style>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</body>

</html>